.banner-button a:hover {
    background: #DAA520;
    transition: all linear 0.3s;
}
.portfolio-desc a {
	background: #DAA520;
}
.portfolio-desc a:hover {
	background: transparent;
	border: 2px solid #DAA520;
	color: #DAA520;
}
.navbar-nav .nav-item .nav-link:hover {
	color: #DAA520;
	transition: all linear 0.3s;
}
.navbar-nav .nav-item .nav-link:hover:before {
    background: #DAA520;
}
.navbar-nav .nav-item .nav-link.active {
	color: #DAA520;
}
.menu-bg {
	background: #DAA520;
}
.menu-bg .navbar-nav .nav-item .nav-link {
	color: #fff;
}
.menu-bg .navbar-nav .nav-item .nav-link:hover:before {
    opacity: 1;
    width: 20px;
    background: #fff;
}
.menu-bg .navbar-nav .nav-item .nav-link.active:before {
    background: #fff;
} 
.portfolio-desc h6 span {
	color: #DAA520;
}
.back2top i {
	background: rgba(218, 165, 32, 0.7);
}
.back2top:hover i{
	background: #DAA520;
	color: #fff;
}
.service-1-item i,.service-2-item i,.service-3-item i,.service-4-item i {
	color: #DAA520;
}
.service-item-icon i {
	color: #DAA520;
}
.service-1-item #p1::before {
	background: #DAA520;
	opacity: 0.5;
}
.service-2-item #p1::before {
	background: #DAA520;
	opacity: 0.5;
}
.service-3-item #p1::before {
	background: #DAA520;
	opacity: 0.5;
}
.service-4-item #p1::before {
	background: #DAA520;
	opacity: 0.5;
}
.progress-1-extra::before {
	background-color: #DAA520;
}
.progress-2-extra::before {
	background-color: #DAA520;
}
.progress-3-extra::before {
	background-color: #DAA520;
}
.progress-4-extra::before {
	background-color: #DAA520;
}
.counter-item-1 i,.counter-item-2 i,
.counter-item-3 i,.counter-item-4 i {
	color: #DAA520;
}
.gal-buttons a:hover {
	color: #DAA520;
}
.gal-before-1 {
	background: rgba(218, 165, 32, 0.6);
}
.gal-before-1 a:hover p {
	color: #DAA520;
}
.gal-before-1 h6 {
	color: #fff;
}
.gal-buttons .mixitup-control-active {
    color: #DAA520;
}
.team-member-1 {
	background: rgba(218, 165, 32, 0.8);
}
.team-member-1 h3 {
	color: #fff;
}
.team-member-1 span {
	color: rgba(255, 255, 255, 0.8);
}
.hire-us-2 a {
	border: 2px solid #DAA520;
}
.hire-us-2 a:hover {
	background: #DAA520;
}
.left {
	background: rgba(218, 165, 32, 0.7);
}
.left:hover {
	background: #DAA520;
}
.right {
	background: rgba(218, 165, 32, 0.7);
}
.right:hover {
	background: #DAA520;
}
.blog-post-item a:hover h2{
    color: #DAA520; 
}
.blog-post-item #blog-span-2 {
	color: #DAA520;
}
.blog-post-item #blog-span-2:hover {
	color: #444;
}
.contact-form form button {
	background: rgba(218, 165, 32, 0.7);
}
.contact-form form button:hover {
	background: #DAA520;
}
.contact-info-item-left i {
	border: 1px solid #DAA520;
	color: #DAA520;
}
.footer a:hover i {
	color: #DAA520;
}

/*=============blog page design======================*/
.banner-blog-text a:hover {
	color: #DAA520;
	transition: all linear 0.3s;
}
.form-inline button:hover {
	background: #DAA520;
	transition: all linear 0.3s;
}
#blog-area-span-three {
	color: #DAA520;
}
#blog-area-span-one-one {
	color: #DAA520;
}
#blog-area-span-one-one:hover {
	color: #444;
	transition: all linear 0.3s;
}
.spacer {
	background: #DAA520;
}
.blog-desc-two {
	border-left: 5px solid #DAA520;
}
.blog-desc-links a:hover {
	background: #DAA520;
	color: #fff;
}
.blog-desc-post-swap-link a:hover{
	background: #DAA520;
}
.comment-one-right-social a:hover i {
	color: #DAA520;
}
#form2 button a:hover {
	background: #DAA520;
	transition: all linear 0.3s;
}
.spacer-for-search {
	background: #DAA520;
}
.spacer-for-recent-post {
	background: #DAA520;
}
.recent-posts-item-right a:hover {
	color: #DAA520;
}
.social-spacer {
	background: #DAA520;
}
.side-bar-spacer {
	background: #DAA520;
}
.archive-spacer {
	background: #DAA520;
}
.side-bar-dates-spacer {
	background: #DAA520;
}
.popular-pages-links a:hover {
	background: #DAA520;
	transition: all linear 0.3s;
}
